/*** Variables ***/
$primary-blue: #1F5081;
$primary-blue-hover: #184067;
html,body { height:100%; }
/*** Login Form ***/
#login-form{
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  border: $primary-blue solid 3px;
  padding: 30px;
  height: 350px;
  border-radius: 4px;

  .form-input{
    padding-left: 5px;
    margin-top: 7px;
    height: 25px;
    width: 100%;
    font-size: 14px;
    border: $primary-blue solid 1px;
  }

  .bucket-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #login-button{
    background-color: $primary-blue;
    color: white;
    border:none;
    float:right;
    cursor:pointer;
    width: 80px;
    height: 40px;
    font-size: 18px;
  }
  #login-button:hover{
    background-color: #184067;
  }
}

.navbar{
  border-radius: 0 !important;
}

#img-wrapper-404{
  float:right;
}
#error-text-404{
  float:left;
}
#error-text-404 > h1{
  margin-bottom: 25px;
  font-size: 100px;
  color: $primary-blue;
}
#error-text-404 > h2{
  font-size: 28px;
  width: 300px;
}
#container-404{
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 625px;
}


#app{
  background-color: rgb(246,243,238);
  min-height: 100vh;
}
.navbar{
  margin-bottom: 0 !important;
}
.main-container{
  top: 50;
  padding-top: 25px;
  margin-left: 225px;
  display:flex;
  flex-direction: row;
  height: calc(100vh - 60px);
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: center;


  .card-style{
    width: 200px;
    height: 250px;
    background-color: #fff;
    border-radius: 3px;
    border: solid 1px #D3D3D3;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;

    .card-header{
      margin: none;
      border-bottom: solid 1px #D3D3D3;
      width: 90%;
      min-width: 25px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .card-image{
      width: 200px;
      height: 120px;
      background-color: gray;
      margin-top: 10px;
    }
  }

}

.sidebar{
  z-index: 100;
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 225px;
  background-color: $primary-blue;
  margin: 0;
  overflow: scroll;
  padding-top: 50px;
}

.searchWrapper{
  margin-top: 75px;
  width: 80%;
}

.searchInput{
  margin-bottom: 10px;
  width: 100%;
  padding-left: 5px;
  border: none;
  border-radius: 3px;
  border: solid 1px #D3D3D3;
}

.center-block{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.search-entry-card{
  padding: 10px;
  width: 90%;
  margin-bottom: 20px;
  border: solid 1px #D3D3D3;
  background-color: #fff;
  height: 130px;

  .search-entry-left{
    float:left;
    //position:absolute;
  }

  .yelp-image{
    cursor: pointer;
    //left: 0;
    //top: 0;
    //position:absolute;
  }

  .search-entry-right{
    margin-left: 75px;
    padding-left: 5px;
  }
  // .yelp-stars{
  //   position:absolute;
  //   left: 0;
  //   bottom: 20%;
  // }

  .add-to-bucket-btn{
    padding: 0;
    padding-bottom: 6px;
    float:right;
    width: 22px;
    height: 22px;
  }

}
.modal-body{
  max-height: 420px;
  overflow-y: auto;
}

/***** regular css rules here *******/
.comment-box{
  width: 90%;
  margin-top: 10px;
  .comment-author{
    color: $primary-blue;
    margin-bottom: 5px;
  }
  .comment-text{
    color: black;
  }
  .comment-form{
    margin-top: 10px;
  }
}
#bucket-container {
    border: 1px solid $primary-blue;
    width: 200px;
    height: 150px;
    text-align: center;
    margin: 20px;
    padding: 25px;
}

#bucket-container a:hover {
    text-decoration: none;
}

.add-btn{
  position: fixed;
  line-height: 45px;
  text-align: center;
  background-color: $primary-blue;
  color: white;
  cursor: pointer;
  right: 40px;
  bottom: 30px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  font-size: 28px;
}

.add-btn:hover{
  background-color: $primary-blue-hover;
}

.bucket-tags {
  cursor: pointer;
}

.active{
  background-color: $primary-blue-hover;
}

.bucket-tags:hover {
  background-color: $primary-blue-hover;
}

.bucket-tags h3 {
  margin-left: 20px;
  padding: 15px;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 0px;
}

#create-bucket-button {
  margin-left: 30px;
  padding: 10px;
  background-color: #fff;
  color: $primary-blue;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

#create-bucket-button:hover {
  background-color: #d2d2d2;
}
